@model IEnumerable<Paintings.Models.Order>
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <h1>Your Order</h1>

        <p>
            @*<a asp-action="Create">Create New</a>*@
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsComplete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsComplete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>

                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |*@
                            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                            @*<a asp-action="Delete" asp-route-id="@item.OrderId">Delete Order</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @*@if ()
        {

        }*@

        <form asp-controller="Orders" asp-action="Delete" method="post">
            <input type="submit" class="btn btn-danger bg-danger border-danger" value="Cancel Order" />
        </form>
        <hr />
        <form asp-controller="Paintings" asp-action="Index">
            <input type="submit" class="btn btn-outline-info badge-secondary " value="Shop More" />
        </form>
        <hr />
        <form asp-controller="PaintingOrders" asp-action="Index">
            <input type="submit" class="btn btn-outline-info badge-primary " value="Place Order" />
        </form>

    </div>