@model IEnumerable<Paintings.Models.Order>
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Your Order</h1>

    <p>
        @*<a asp-action="Create">Create New</a>*@
    </p>
    <table class="table">
        <thead>
            <tr>
              
                <th>
                    Order status
                </th>
                <th>
                    Creation Date
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @*Completed : @Html.DisplayFor(modelItem => item.IsComplete)*@
                    @if (item.IsComplete == true)
                    {
                        <h6>Placed</h6>
                    }
                    else
                    {
                        <h6>Open</h6>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                @if (@UserManager.GetUserAsync(User).Result.IsAdmin == false && item.IsComplete == true)
                {
                    <td>
                        <h4> Order is Complete</h4>
                    </td>

                }
                else 
                {
                    <td>
                        <form>
                            <a class="btn border-secondary bg-secondary  btn-secondary" asp-action="Details" asp-route-id="@item.OrderId">View Order</a>
                        </form>
                    </td>
                    <td>
                        <form>
                            <a class=" btn border-primary btn-primary bg-primary" asp-action="Details" asp-route-id="@item.OrderId">Continue to Place Order</a>
                        </form>
                    </td>
                }
                @if (@UserManager.GetUserAsync(User).Result.IsAdmin == false && item.IsComplete == false)
                {
                    <td>
                        <form asp-controller="Orders" asp-action="Delete" method="post">
                            <input type="submit" class="btn btn-danger bg-danger border-danger" value="Cancel Order" />
                        </form>
                    </td>

                }
                <td>
                    @if (@UserManager.GetUserAsync(User).Result.IsAdmin == true)
                    {

                    <p>
                        <form asp-controller="Orders" asp-action="Delete" method="post">
                            <input type="submit" class="btn btn-danger bg-danger border-danger" value="Cancel Order" />
                        </form>
                    </p>

                }
                    </td>

                </tr>
            }
        </tbody>
    </table>





</div>


