@model Paintings.Models.Painting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="logP">
    <h4>Painting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MediumUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediumUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.ImagePath" style="max-height: 500px; max-width: 500px; padding:0px;" />
        </dd>
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GalleryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GalleryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaintingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
