@model IEnumerable<Paintings.Models.Painting>

@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
    <div class="container paint-index">
        <h1>Painting Catalog</h1>

        @if (@UserManager.GetUserAsync(User).Result.IsAdmin == true)
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        }

        @if (@UserManager.GetUserAsync(User).Result.IsAdmin == false)
        {
            <p>
                <a asp-controller="Orders" >View Cart</a>
            </p>
        }

        <table class="table">
            <thead>
                <tr class="paintingIndexRow">
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        Medium
                        @*@Html.DisplayNameFor(model => model.MediumUsed)*@
                    </th>
                    <th>
                        Image
                        @*@Html.DisplayNameFor(model => model.ImagePath)*@
                    </th>
                    <th>
                        Gallery
                    </th>
                    <th>
                        Price
                        @*@Html.DisplayNameFor(model => model.Price)*@
                    </th>
                    <th>
                        Sold
                        @*@Html.DisplayNameFor(model => model.IsSold)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MediumUsed)
                        </td>
                        <td class="">
                            <img src="~/images/@item.ImagePath" style="max-height: 75px; max-width: 200px; padding:0px; margin:0 auto;" />
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.GalleryId)*@

                            @if (@item.GalleryId == 1)
                            {
                                <h6>Plus One Gallery</h6><br />
                                <p>Madrid, Spain</p>
                            }
                            else if (@item.GalleryId == 2)
                            {
                                <h6>Tate Modern</h6><br />
                                <p>London, UK</p>
                            }
                            else if (item.GalleryId == 3)
                            {
                                <h6>Louis K. Meisel Gallery</h6><br />
                                <p>Manhattan, New York City</p>
                            }
                            else
                            {
                                <h6>Private Collection</h6>
                               
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSold)
                        </td>



                        <td>
                            @if (@UserManager.GetUserAsync(User).Result.IsAdmin == true)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.PaintingId })
                            }

                            @Html.ActionLink("Details", "Details", new { id = item.PaintingId })

                            @if (@UserManager.GetUserAsync(User).Result.IsAdmin == true)
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.PaintingId })
                            }
                        </td>

                        @if (@UserManager.GetUserAsync(User).Result.IsAdmin == false)
                        {


                            @if (item.IsSold == false)
                            {

                                <td>
                                    <form asp-controller="Orders" asp-action="Create" asp-route-id="@item.PaintingId">
                                        <input type="submit" class="btn btn-primary bg-primary border-primary" value="Add to Order" />

                                    </form>

                                </td>
                            }
                            else
                            {
                                <td>
                                    <h4>Item Has Sold.</h4>
                                </td>
                            }


                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
